#Ignoring both projects codes 

# dependencies
/nodeAuth/node_modules
/react-routes/node_modules
/react-routes/.pnp
/react-routes.pnp.js

# Build foldesrs
/react-routes/build
/nodeAuth/dist


#Vs code 
/react-routes/.vscode
/nodeAuth/.vscode

# misc
/react-routes/.DS_Store
/react-routes/.env.local
/react-routes/.env.development.local
/react-routes/.env.test.local
/react-routes/.env.production.local

/react-routes/npm-debug.log*
/react-routes/yarn-debug.log*
/yarn-error.log*
